 .u-section-1 {
   background-image: linear-gradient(to right, #fcf3cf, #e8daef);
 }

 .u-section-1 .u-sheet-1 {
   min-height: 750px;
 }

 .u-section-1 .u-text-1 {
   font-size: 3.125rem;
   font-weight: 700;
   width: 740px;
   margin: 32px auto 0;
 }

 .u-section-1 .u-group-1 {
   width: 1076px;
   background-image: none;
   min-height: 45px;
   margin: 32px auto 0;
 }

 .u-section-1 .u-container-layout-1 {
   padding: 10px 30px;
 }

 .u-section-1 .u-text-2 {
   width: 740px;
   font-weight: 700;
   font-size: 1.5rem;
   margin: -6px auto -20px;
 }

 .u-section-1 .u-group-2 {
   width: 1076px;
   min-height: 400px;
   margin: 32px auto 60px;
 }

 .u-section-1 .u-container-layout-2 {
   padding: 30px 19px 4px;
 }

 .u-section-1 .u-group-3 {
   width: 210px;
   min-height: 266px;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-group-4 {
   min-height: 143px;
   width: 210px;
   margin: 28px auto 0 -3px;
 }

 .u-section-1 .u-text-3 {
   text-align: left;
   font-weight: 700;
   margin: 11px auto 0;
 }

 .u-section-1 .u-text-4 {
   text-align: center;
   font-weight: 700;
   margin: -24px auto 0;
 }

 .u-section-1 .u-text-5 {
   font-weight: 400;
   text-align: center;
   margin: -33px 0 0;
 }

 .u-section-1 .u-btn-1 {
   margin: 39px auto -19px;
 }

 .u-section-1 .u-group-5 {
   width: 210px;
   min-height: 173px;
   margin: -231px 32px 0 auto;
 }

 .u-section-1 .u-text-6 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-1 .u-text-7 {
   text-align: center;
   font-weight: 700;
   margin: 15px auto 0;
 }

 .u-section-1 .u-text-8 {
   font-weight: 400;
   text-align: center;
   margin: 15px 0 0;
 }

 .u-section-1 .u-group-6 {
   width: 210px;
   min-height: 174px;
   margin: -172px 297px 0 auto;
 }

 .u-section-1 .u-text-9 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-1 .u-text-10 {
   text-align: center;
   font-weight: 700;
   margin: 15px auto 0;
 }

 .u-section-1 .u-text-11 {
   font-weight: 400;
   text-align: center;
   margin: 15px 0 0;
 }

 .u-section-1 .u-group-7 {
   width: 210px;
   min-height: 174px;
   margin: -173px auto 0 265px;
 }

 .u-section-1 .u-text-12 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-1 .u-text-13 {
   text-align: center;
   font-weight: 700;
   margin: -13px auto 0;
 }

 .u-section-1 .u-text-14 {
   font-weight: 400;
   text-align: center;
   margin: 43px 0 0;
 }

 .u-section-1 .u-btn-2 {
   background-image: none;
   border-style: none;
   margin: 29px auto 0 315px;
 }

 .u-section-1 .u-btn-3 {
   background-image: none;
   margin: -45px 338px 0 auto;
 }

 .u-section-1 .u-btn-4 {
   background-image: none;
   margin: -34px 79px 0 auto;
 }

 @media (max-width: 1199px) {
   .u-section-1 .u-group-1 {
     width: 940px;
   }

   .u-section-1 .u-group-2 {
     width: 940px;
   }

   .u-section-1 .u-btn-2 {
     margin-left: 178px;
   }

   .u-section-1 .u-btn-3 {
     border-style: none;
     margin-right: 202px;
   }

   .u-section-1 .u-btn-4 {
     border-style: none;
     margin-right: 0;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-text-1 {
     width: 720px;
   }

   .u-section-1 .u-group-1 {
     width: 720px;
   }

   .u-section-1 .u-text-2 {
     width: 660px;
   }

   .u-section-1 .u-group-2 {
     width: 720px;
   }

   .u-section-1 .u-btn-2 {
     margin-left: 0;
   }

   .u-section-1 .u-btn-3 {
     margin-right: 0;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 .u-text-1 {
     width: 540px;
   }

   .u-section-1 .u-group-1 {
     width: 540px;
   }

   .u-section-1 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-text-2 {
     width: 520px;
   }

   .u-section-1 .u-group-2 {
     width: 540px;
   }

   .u-section-1 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 .u-text-1 {
     font-size: 2.25rem;
     width: 340px;
   }

   .u-section-1 .u-group-1 {
     width: 340px;
   }

   .u-section-1 .u-text-2 {
     width: 320px;
   }

   .u-section-1 .u-group-2 {
     width: 340px;
   }

   .u-section-1 .u-group-6 {
     margin-right: 110px;
   }

   .u-section-1 .u-group-7 {
     margin-left: 110px;
   }
 }

 .u-section-2 {
   background-image: linear-gradient(to right, #e8daef, #d0ece7);
 }

 .u-section-2 .u-sheet-1 {
   min-height: 762px;
 }

 .u-section-2 .u-text-1 {
   font-size: 3.125rem;
   font-weight: 700;
   width: 740px;
   margin: 32px auto 0;
 }

 .u-section-2 .u-group-1 {
   width: 1076px;
   background-image: none;
   min-height: 45px;
   margin: 32px auto 0;
 }

 .u-section-2 .u-container-layout-1 {
   padding: 10px 30px;
 }

 .u-section-2 .u-text-2 {
   width: 740px;
   font-weight: 700;
   font-size: 1.5rem;
   margin: -6px auto -20px;
 }

 .u-section-2 .u-group-2 {
   width: 1076px;
   min-height: 401px;
   margin: 32px auto 60px;
 }

 .u-section-2 .u-container-layout-2 {
   padding: 30px 19px 0;
 }

 .u-section-2 .u-group-3 {
   width: 210px;
   min-height: 266px;
   margin: 0 auto 0 0;
 }

 .u-section-2 .u-group-4 {
   min-height: 143px;
   width: 210px;
   margin: 28px auto 0 -3px;
 }

 .u-section-2 .u-text-3 {
   text-align: left;
   font-weight: 700;
   margin: 11px auto 0;
 }

 .u-section-2 .u-text-4 {
   text-align: center;
   font-weight: 700;
   margin: -24px auto 0;
 }

 .u-section-2 .u-text-5 {
   font-weight: 400;
   text-align: center;
   margin: -33px 0 0;
 }

 .u-section-2 .u-group-5 {
   width: 210px;
   min-height: 173px;
   margin: -231px 32px 0 auto;
 }

 .u-section-2 .u-text-6 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-2 .u-text-7 {
   text-align: center;
   font-weight: 700;
   margin: 15px auto 0;
 }

 .u-section-2 .u-text-8 {
   font-weight: 400;
   text-align: center;
   margin: 15px 0 0;
 }

 .u-section-2 .u-group-6 {
   width: 210px;
   min-height: 174px;
   margin: -172px 297px 0 auto;
 }

 .u-section-2 .u-text-9 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-2 .u-text-10 {
   text-align: center;
   font-weight: 700;
   margin: 15px auto 0;
 }

 .u-section-2 .u-text-11 {
   font-weight: 400;
   text-align: center;
   margin: 15px 0 0;
 }

 .u-section-2 .u-group-7 {
   width: 210px;
   min-height: 173px;
   margin: -173px auto 0 265px;
 }

 .u-section-2 .u-text-12 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-2 .u-text-13 {
   text-align: center;
   font-weight: 700;
   margin: -13px auto 0;
 }

 .u-section-2 .u-text-14 {
   font-weight: 400;
   text-align: center;
   margin: 43px 0 0;
 }

 .u-section-2 .u-btn-1 {
   background-image: none;
   margin: 40px auto 0 42px;
 }

 .u-section-2 .u-btn-2 {
   background-image: none;
   margin: -45px auto 0 322px;
 }

 .u-section-2 .u-btn-3 {
   background-image: none;
   margin: -45px 347px 0 auto;
 }

 .u-section-2 .u-btn-4 {
   background-image: none;
   margin: -45px 82px 0 auto;
 }

 @media (max-width: 1199px) {
   .u-section-2 .u-group-1 {
     width: 940px;
   }

   .u-section-2 .u-group-2 {
     width: 940px;
   }

   .u-section-2 .u-btn-1 {
     border-style: none;
     margin-left: 0;
   }

   .u-section-2 .u-btn-2 {
     border-style: none;
     margin-left: 186px;
   }

   .u-section-2 .u-btn-3 {
     border-style: none;
     margin-right: 211px;
   }

   .u-section-2 .u-btn-4 {
     border-style: none;
     margin-right: 0;
   }
 }

 @media (max-width: 991px) {
   .u-section-2 .u-text-1 {
     width: 720px;
   }

   .u-section-2 .u-group-1 {
     width: 720px;
   }

   .u-section-2 .u-text-2 {
     width: 660px;
   }

   .u-section-2 .u-group-2 {
     width: 720px;
   }

   .u-section-2 .u-btn-2 {
     margin-left: 0;
   }

   .u-section-2 .u-btn-3 {
     margin-right: 0;
   }
 }

 @media (max-width: 767px) {
   .u-section-2 .u-text-1 {
     width: 540px;
   }

   .u-section-2 .u-group-1 {
     width: 540px;
   }

   .u-section-2 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-text-2 {
     width: 520px;
   }

   .u-section-2 .u-group-2 {
     width: 540px;
   }

   .u-section-2 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-2 .u-text-1 {
     font-size: 2.25rem;
     width: 340px;
   }

   .u-section-2 .u-group-1 {
     width: 340px;
   }

   .u-section-2 .u-text-2 {
     width: 320px;
   }

   .u-section-2 .u-group-2 {
     width: 340px;
   }

   .u-section-2 .u-group-6 {
     margin-right: 110px;
   }

   .u-section-2 .u-group-7 {
     margin-left: 110px;
   }
 }

 .u-section-3 {
   background-image: linear-gradient(to right, #d0ece7, #d6eaf8);
 }

 .u-section-3 .u-sheet-1 {
   min-height: 750px;
 }

 .u-section-3 .u-text-1 {
   font-size: 3.125rem;
   font-weight: 700;
   width: 740px;
   margin: 32px auto 0;
 }

 .u-section-3 .u-group-1 {
   width: 1076px;
   background-image: none;
   min-height: 45px;
   margin: 32px auto 0;
 }

 .u-section-3 .u-container-layout-1 {
   padding: 10px 30px;
 }

 .u-section-3 .u-text-2 {
   width: 740px;
   font-weight: 700;
   font-size: 1.5rem;
   margin: -6px auto -20px;
 }

 .u-section-3 .u-group-2 {
   width: 1076px;
   min-height: 402px;
   margin: 32px auto 60px;
 }

 .u-section-3 .u-container-layout-2 {
   padding: 30px 19px 4px;
 }

 .u-section-3 .u-group-3 {
   width: 210px;
   min-height: 266px;
   margin: 0 auto 0 1px;
 }

 .u-section-3 .u-group-4 {
   min-height: 143px;
   width: 210px;
   margin: 28px auto 0 -3px;
 }

 .u-section-3 .u-text-3 {
   text-align: left;
   font-weight: 700;
   margin: 11px auto 0;
 }

 .u-section-3 .u-text-4 {
   text-align: center;
   font-weight: 700;
   margin: 4px auto 0;
 }

 .u-section-3 .u-text-5 {
   font-weight: 400;
   text-align: center;
   margin: -33px 0 0;
 }

 .u-section-3 .u-btn-1 {
   background-image: none;
   margin: -18px auto 0 43px;
 }

 .u-section-3 .u-group-5 {
   width: 210px;
   min-height: 173px;
   margin: -259px 32px 0 auto;
 }

 .u-section-3 .u-text-6 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-3 .u-text-7 {
   text-align: center;
   font-weight: 700;
   margin: 15px auto 0;
 }

 .u-section-3 .u-text-8 {
   font-weight: 400;
   text-align: center;
   margin: 15px 0 0;
 }

 .u-section-3 .u-group-6 {
   width: 210px;
   min-height: 174px;
   margin: -172px 297px 0 auto;
 }

 .u-section-3 .u-text-9 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-3 .u-text-10 {
   text-align: center;
   font-weight: 700;
   margin: 15px auto 0;
 }

 .u-section-3 .u-text-11 {
   font-weight: 400;
   text-align: center;
   margin: 15px 0 0;
 }

 .u-section-3 .u-group-7 {
   width: 210px;
   min-height: 173px;
   margin: -173px auto 0 265px;
 }

 .u-section-3 .u-text-12 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-3 .u-text-13 {
   text-align: center;
   font-weight: 700;
   margin: 15px auto 0;
 }

 .u-section-3 .u-text-14 {
   font-weight: 400;
   text-align: center;
   margin: 15px 0 0;
 }

 .u-section-3 .u-btn-2 {
   background-image: none;
   margin: 38px 340px 0 auto;
 }

 .u-section-3 .u-btn-3 {
   margin: -45px 82px 0 auto;
 }

 .u-section-3 .u-btn-4 {
   background-image: none;
   margin: -40px auto 0 315px;
 }

 @media (max-width: 1199px) {
   .u-section-3 .u-group-1 {
     width: 940px;
   }

   .u-section-3 .u-group-2 {
     width: 940px;
   }

   .u-section-3 .u-btn-1 {
     border-style: none;
     margin-left: 0;
   }

   .u-section-3 .u-btn-2 {
     border-style: none;
     margin-right: 204px;
   }

   .u-section-3 .u-btn-3 {
     margin-right: 0;
   }

   .u-section-3 .u-btn-4 {
     border-style: none;
     margin-left: 179px;
   }
 }

 @media (max-width: 991px) {
   .u-section-3 .u-text-1 {
     width: 720px;
   }

   .u-section-3 .u-group-1 {
     width: 720px;
   }

   .u-section-3 .u-text-2 {
     width: 660px;
   }

   .u-section-3 .u-group-2 {
     width: 720px;
   }

   .u-section-3 .u-btn-2 {
     margin-right: 0;
   }

   .u-section-3 .u-btn-4 {
     margin-left: 0;
   }
 }

 @media (max-width: 767px) {
   .u-section-3 .u-text-1 {
     width: 540px;
   }

   .u-section-3 .u-group-1 {
     width: 540px;
   }

   .u-section-3 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-text-2 {
     width: 520px;
   }

   .u-section-3 .u-group-2 {
     width: 540px;
   }

   .u-section-3 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-3 .u-text-1 {
     font-size: 2.25rem;
     width: 340px;
   }

   .u-section-3 .u-group-1 {
     width: 340px;
   }

   .u-section-3 .u-text-2 {
     width: 320px;
   }

   .u-section-3 .u-group-2 {
     width: 340px;
   }

   .u-section-3 .u-group-6 {
     margin-right: 110px;
   }

   .u-section-3 .u-group-7 {
     margin-left: 110px;
   }
 }

 .u-section-4 {
   background-image: linear-gradient(to right, #d6eaf8, #fcf3cf);
 }

 .u-section-4 .u-sheet-1 {
   min-height: 750px;
 }

 .u-section-4 .u-text-1 {
   font-size: 3.125rem;
   font-weight: 700;
   width: 740px;
   margin: 32px auto 0;
 }

 .u-section-4 .u-group-1 {
   width: 1076px;
   background-image: none;
   min-height: 45px;
   margin: 32px auto 0;
 }

 .u-section-4 .u-container-layout-1 {
   padding: 4px 30px;
 }

 .u-section-4 .u-text-2 {
   font-weight: 700;
   font-size: 1.5rem;
   width: 740px;
   margin: 0 auto;
 }

 .u-section-4 .u-group-2 {
   width: 1076px;
   min-height: 400px;
   margin: 32px auto 60px;
 }

 .u-section-4 .u-container-layout-2 {
   padding: 30px 19px 4px;
 }

 .u-section-4 .u-group-3 {
   width: 210px;
   min-height: 266px;
   margin: 0 auto 0 0;
 }

 .u-section-4 .u-group-4 {
   min-height: 143px;
   width: 210px;
   margin: 28px auto 0 -3px;
 }

 .u-section-4 .u-text-3 {
   text-align: left;
   font-weight: 700;
   margin: 11px auto 0;
 }

 .u-section-4 .u-text-4 {
   text-align: center;
   font-weight: 700;
   margin: 4px auto 0;
 }

 .u-section-4 .u-text-5 {
   font-weight: 400;
   text-align: center;
   margin: -33px 0 0;
 }

 .u-section-4 .u-btn-1 {
   margin: -22px auto 0 38px;
 }

 .u-section-4 .u-group-5 {
   width: 210px;
   min-height: 173px;
   margin: -254px 32px 0 auto;
 }

 .u-section-4 .u-text-6 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-4 .u-text-7 {
   text-align: center;
   font-weight: 700;
   margin: 15px auto 0;
 }

 .u-section-4 .u-text-8 {
   font-weight: 400;
   text-align: center;
   margin: 15px 0 0;
 }

 .u-section-4 .u-group-6 {
   width: 210px;
   min-height: 174px;
   margin: -172px 297px 0 auto;
 }

 .u-section-4 .u-text-9 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-4 .u-text-10 {
   text-align: center;
   font-weight: 700;
   margin: 15px auto 0;
 }

 .u-section-4 .u-text-11 {
   font-weight: 400;
   text-align: center;
   margin: 15px 0 0;
 }

 .u-section-4 .u-group-7 {
   width: 210px;
   min-height: 173px;
   margin: -173px auto 0 265px;
 }

 .u-section-4 .u-text-12 {
   text-align: left;
   font-weight: 700;
   margin: 0 auto;
 }

 .u-section-4 .u-text-13 {
   text-align: center;
   font-weight: 700;
   margin: 15px auto 0;
 }

 .u-section-4 .u-text-14 {
   font-weight: 400;
   text-align: center;
   margin: 15px 0 0;
 }

 .u-section-4 .u-btn-2 {
   margin: 33px auto 0 315px;
 }

 .u-section-4 .u-btn-3 {
   margin: -45px 347px 0 auto;
 }

 .u-section-4 .u-btn-4 {
   margin: -45px 82px 0 auto;
 }

 @media (max-width: 1199px) {
   .u-section-4 .u-group-1 {
     width: 940px;
   }

   .u-section-4 .u-group-2 {
     width: 940px;
   }

   .u-section-4 .u-btn-1 {
     margin-left: 0;
   }

   .u-section-4 .u-btn-2 {
     margin-left: 178px;
   }

   .u-section-4 .u-btn-3 {
     margin-right: 211px;
   }

   .u-section-4 .u-btn-4 {
     margin-right: 0;
   }
 }

 @media (max-width: 991px) {
   .u-section-4 .u-text-1 {
     width: 720px;
   }

   .u-section-4 .u-group-1 {
     width: 720px;
   }

   .u-section-4 .u-text-2 {
     width: 660px;
   }

   .u-section-4 .u-group-2 {
     width: 720px;
   }

   .u-section-4 .u-btn-2 {
     margin-left: 0;
   }

   .u-section-4 .u-btn-3 {
     margin-right: 0;
   }
 }

 @media (max-width: 767px) {
   .u-section-4 .u-text-1 {
     width: 540px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-4 .u-group-1 {
     width: 540px;
   }

   .u-section-4 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-text-2 {
     width: 520px;
   }

   .u-section-4 .u-group-2 {
     width: 540px;
   }

   .u-section-4 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-4 .u-text-1 {
     width: 340px;
     font-size: 2.25rem;
   }

   .u-section-4 .u-group-1 {
     width: 340px;
   }

   .u-section-4 .u-text-2 {
     width: 320px;
   }

   .u-section-4 .u-group-2 {
     width: 340px;
   }

   .u-section-4 .u-group-6 {
     margin-right: 110px;
   }

   .u-section-4 .u-group-7 {
     margin-left: 110px;
   }
 }