{% extends "base.html" %} {% block title %}Question{% endblock %} {% block
content %}
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Question.css') }} " media="screen">
    <div class="login-box">
      <h2>3 QUESTION FOR YOUR MATCH</h2>
      <h2>คำถามทั้ง 3 ข้อควรเป็นคำถามปลายเปิด ที่สามารถแสดงให้เห็น ถึงแนวคิดของผู้ตอบ เพื่อเป็นอีกหนึ่งตัวเลือกในการตัดสินใจของคุณ</h2>
      <form>
        <div class="user-box">
          <input type="text" name="" required="">
    
          <label>1. :</label>
          
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
        
          <label>2. :</label>
        
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
        
          <label>3. :</label>
        
        </div>
       
        <a href="mainApp.html">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
    
      </form>
    
    </div>
    
</html>
{% endblock %}